
table{
  width: 100%;
}

table {
  background-color:#ffffb3;
  margin-top: 20px;

}
tr.mat-row:hover:not(.active) {
  background-color: #e90052;

}

tr.mat-header-row {
  background-color: #38003c;
  font-family: Arial;

}

th.mat-header-cell {
  color: white;
  font-size: 14px;
  font-family: Arial;
}

.btn-primary{
  margin-left: 10px;
  background-color: #38003c;
  border-color: #38003c;
}

#firstRow{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-left: 10px;
}

p{
  font-size: 18px;
  font-family: Arial;
  margin-top: 6px;
  color :#38003c;
}


.btn-primary:hover:not(.active) {
  background-color: #e90052;
  color: white;


}

.btn-primary{
  height: 40px;
  color: white;
  border-radius: 10px;
}

.form{
  height: 40px;
  margin-left: 50px;
}
